/*COLORS --> #EEF1EF - #A9B4C2 - #5E6572 - #7D98A1 - #1C2321*/

body {
	background-color: #EEF1EF;
}

h1 {
	text-align: center;
}

.container {
	background-color: #A9B4C2;
	width: 800px;
	margin: auto;
	text-align: center;
	box-shadow: 10px 10px 5px  #aaaaaa;
}


