/*COLORS --> #D8C99B - #273E47 - #A4243B - #D8973C - #BD632F*/

* { 
	box-sizing: border-box; 
	color: white;
} 


body {
	background-color: #D8C99B;
}

h1 {
	text-align: center;
}

.container {
	background-color: #273E47;
	width: 800px;
	margin: auto;
	text-align: center;
	box-shadow: 10px 10px 5px  #aaaaaa;
}


