.container {
	margin: 0 auto;
	width: 900px;
	background-color: orange;
	height: 1000px;
}

.box {
  border: 2px solid black;
}

p { /* negro */ 
  color: black;
}

.text { /* rosa */
  color: #F456AB;
}

#text-01 { /* marron */
  color: #440;
}


