.empire {
  background-color: red;
}

.rebel {
  background-color: blue;
  color: white;
}

#darth-vader {
  font-size: 3em;
}

#luke-sky {
  font-style: italic;
}

.soldier {
  border: 2px dashed orange;
  letter-spacing: 1em;
}

.apoyo {
  text-align: center;
}

.ship {
  text-transform: uppercase;
}