* {
	box-sizing: border-box;
}

body {
	background-color: #232323;
	text-align: center;
}

.container {
	max-width: 600px;
}

.square {
	float: left;
	width: 30%;
	height: 30%;
	background-color: #fafafa;
	padding-bottom: 30%;
	margin: 1.66%;
	border-radius: 5%;
}

h1 {
	color: #fafafa;
}