 .col-sm-6 {
 	background-color: orange;
 	border: 2px solid black;
 }

 .col-sm-2 {
 	background-color: grey;
 	border: 2px solid black;
 }

  .col-sm-1 {
 	background-color: blue;
 	border: 2px solid black;
 	color: white;
 }

  .col-xs-6 {
 	background-color: orange;
 	border: 2px solid black;
 }

 .col-xs-2 {
 	background-color: grey;
 	border: 2px solid black;
 }

 .col-xs-1 {
 	background-color: blue;
 	border: 2px solid black;
 	color: white;
 }