.container {
	width: 700px;
	margin: auto;
	background-color: #4C243B;
}

h1 {
	text-align: center;
	color: white;
}

#mapa {
	text-align: center;
}

body {
	background-color: #AC7B84;
}

iframe {
	border: 2px solid #54457F;
}

#youtube1 {
	text-align: center;
}

#youtube2 {
	text-align: center;
}

#menu * {
	color: white;
}